.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.link{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background: var(--primary-header-color);
}
button{
    cursor: pointer;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.section{
    padding-top: 60px;
    padding-bottom: 60px;

    
}