.main__cap{
    text-align: center;
    padding-top: 118px;
    padding-bottom: 128px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),url('..//../images/header_mob_img_1x.jpg');
     @include retina{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),url('..//../images/header_mob_img_2x.jpg');
     }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2F303A;
    max-width: 100%;
    margin: 0 auto;


    @include tablet{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),url('..//../images/header_tab_img_1x.jpg');
    @include retina{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),url('..//../images/header_tab_img_2x.jpg');
     }
    }

    @include desktop{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),url('..//../images/head_img_pc_1x.jpg');
     @include retina{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),url('..//../images/head_img_pc_2x.jpg');
     }

    }
}
.main__title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-header-color);
    margin-bottom: 40px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    @include desktop{
    margin-bottom: 30px;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    }
}
.main__btn {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--primary-header-color);
    background: var(--primary-link-color);
    display: block;
    margin:  0px auto;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    &:hover,
    &:focus {
    cursor: pointer;
}
}

